<div class="clearfix">
  <div class="column">

  <h3>Recent</h3>
  <div class="img-scroll">
    <%= render partial:"articles/recent.html.erb" %>
  </div>

</div>


<div class="column">

  <h3>Popular</h3>
  <div class="img-scroll">
    <%= render partial:"articles/popular.html.erb" %>
  </div>

</div>

<div class="column">

  <h3>Friends</h3>

  <div class="img-scroll">
    <%= render partial:"articles/friends.html.erb" %>
  </div>

</div>
</div>
