// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/assets/Brandon_bld.otf');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: Brandon Grotesque;
  background-color: #fff;
}
h2{
  text-align: center;
  font-weight: normal;
  color:goldenrod;
}
h3{
  font-weight:normal;
}
.column{
  float:left;
  width:30%;
  margin:0 0.5em;
}
.column:nth-of-child(3){
}
.img-scroll{
  background-color:orange;
}
label{
  display:block;
}
.container{
  background-color:white;
  width:500px;
  height:300px;
  margin: 0 auto;
  padding:1em;
  border-radius:5px;
  overflow-y: scroll;
}
/*input[type="text"], textarea{
  display:block;
  width:100%;
}*/
.submit input{

 
  font-size:1.5em;
}
.submit input, #article_audio_file{
  background-color:goldenrod;
  border-radius:4px;
  padding:0.5em;
  font-family: Brandon Grotesque;

}
#article_audio_file{
  width:170px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}