// Place all the styles related to the Auths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userform {
	width: 250px;
	display: block;
	margin: 0 auto;
	
}
submit {
	height: 50px;
	width: 150px;
}
.sign-in {
	width: 400px;
	height: 200px;
	margin: 0 auto;	
}
/*color:#2753a2, #1A2954 */